p{ 
    text-align:left ;
    color: crimson;
    font-size: medium;
}

footer {
    text-align: center;
    color: red;
  }

 
h1, h2 {
color:red;
text-overflow: clip;
text-align: justify;
font-size: xx-large;
}  