body{
  background-color: burlywood;
}

#principal, #grupodetitulos{
  background-color: cornflowerblue;
 }

li{
  background-color:cyan;
  text-align: center;
  display: inline;
  font-size: medium;
}

#barraprincipal{
background-color: bisque;

 
}

#articulo2 {
  background-color: beige;
}

#barralado {  
  background-color: beige;
  float: left;
  height: 1280px;
  clear: both;
  margin-top: 1px;
  margin-bottom: 1px;
  
}

#identificadores{
  background-color: blue;
}

#principal2{
  background-color: bisque;
  margin-left: 200px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px ;
}


p{ 
    text-align:left ;
    color: crimson;
    font-size: medium;
}

footer {
    text-align: center;
    color: red;
  }

 
h1, h2 {
color:red;
text-overflow: clip;
text-align: justify;
font-size: xx-large;
}  