body{
  background-color: burlywood;
}

#principal, #grupodetitulos{
  background-color: cornflowerblue;
 }

li{
  text-align: center;
  display: inline;
  font-size: medium;
}

#barraprincipal{
  background-color: bisque;
  
}

#barralado, #articulo2 {
  background-color: beige;
}

#principal2{

  background-color: bisque;
}


p{ 
    text-align:left ;
    color: crimson;
    font-size: medium;
}

footer {
    text-align: center;
    color: red;
  }

 
h1, h2 {
color:red;
text-overflow: clip;
text-align: justify;
font-size: xx-large;
}  